.jokeField {
    width: 250px;
    height: 150;
    margin: auto;
    text-align: center;
    padding: auto;
}

.getJoke {
    border-radius: 3%;
    border: 1px solid black;
    color: blue;
    background: lightsalmon;
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

header {
    color: blue;
    background: lightsalmon;
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
}    

main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.joke {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}