* {
    font-family: Nunito, monospace;
    padding: 0;
    margin: 0;
}

/*
main {
    width: 100vw;
    height: 100vh;
} */

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

header {
    background-color: #E4C1F9;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav {
    display: flex;
    flex-direction: row;
    font-size: 130%;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10%;
    padding: 5%;
    justify-content: space-around;
         
}

nav div{
    margin: 0% 5%;
}

nav {
    cursor: pointer;

}

.first-background {
    background-color:#FCF6BD;
    height: 100vh-5px;
    width: 100vw-5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

img.girl {
    margin: 5vh 5vw;
    height: 40vw;
}

h1.mysite {
    font-family: Roboto, monospace;
    font-size: 72px;
   /* margin: 15% 59px 34px 0px; */
}

div.first-page {
    display: flex;
    margin: 3vh 3vw;
    width: 50%;
    flex-direction: column;
}
@media screen and (max-width: 600px) {
    .first-background {
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }

    div.counter {
        flex-direction: column;
      
      
        
    }

    h1.mysite {
        font-size: 150%;
        margin: 1vh;

    }
 /*   img.girl {
        width: 30vw;
    }

    nav {

    } 
/*
    


    
    header {
        font-size: 90%;
        justify-content: flex-start;
        
    }

    p.hello {
        font-size: 90%;
    } */
}

div.counter {
    display: flex;
    flex-direction: row;
    font-size: 60px;
    justify-content: space-between;
    color:#0F79FC;
    margin-bottom: 5vh;
}

.second-background {
    background-color: #ffffff;
    height: 90vh;
}

h2.pageheader {
    font-family: Roboto, monospace;
    font-size: 48px;
    margin: 1vh 0px 2vh 5vw;
    

}

img {
    margin-right: 1vw;
}

div.altshu {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    width: max-content;
}

div.countertechnologies {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
   
}

.countdetail {
    margin: 5vh 3vw 5vh 0;
    
}

.detail {
    font-size: 31px;
    color: black;
    width: min-content;         
}

div.technologies {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    align-items: flex-start;
    margin-left: 10vw;    
}

div.signature {
    margin-top: 3%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;   
}


div.feedback {
    margin-top: 10px;
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.autor {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

span.bold {
    font-weight: bolder;
}

p.hello {
    font-size: 22px;
    margin-top: 5%;
}

img.icon {
    margin: 5px;    
}

div.number { 
    color: #0F79FC;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
    margin-left: 5vw;
}

p.number {
    color:#0F79FC;
    font-weight: bold;
}

.third-background {
    background-color: #ffffff;
    height: 200vh;
}

div.button {
    display: flex;
    background-color: #E4C1F9;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
    margin-top: 3%;
}

div.buttoncontactme {
    background-color: #0F79FC;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
    margin-top: 40vh;
    margin-left: 5vw;
}

div.button1 {
    display: block;
    background-color: #0F79FC;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
}

div.buttontwo {
    background-color: #E4C1F9;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
    margin-left: 65vw;
    margin-bottom: 10vh;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-top: 10vh;
}

div.pro {
    display: flex;
    flex-direction: column;
    width: 30vw; 
    height: 55vh;
    margin-right: 10vw;
    margin-bottom: 10vh;
}

p.pro {
    font-size: 24px;
    margin-bottom: 5px;
}

p.protwo {
    font-size: 14px;
    width: 40;
}

#project{
    width: 30vw;
    height: 55vh;
    background-color: #FCF6BD;
}

p.date {
    font-size: 16px;
    margin-bottom: 10px;
    color: #0F79FC;
}

div.background {
    background-color: #0F79FC;
}
    
.form {
    border-radius: 30px;
}

div.story {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    
}

div.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    height: 200px;
    margin-left: 40px;
    border: 1px solid black;
    justify-content: space-between;

}

div.article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
}    

div.pageheaderservices {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
}

section.forth-background {
    background-color:#D0F4DE;
    height: 95vh;
    display: flex;
    align-items: center;
}

div.services {
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 680px;
    justify-content: space-between;
} 

div.serv {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 280px;
   
}

div.fifth {
    margin-left: 80px;
    margin-bottom: 50px;
}



